.NewProjectMainBox{
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    /* height: 700px; */
}


.Inputmerge{
    /* border: 1px solid red; */
    /* height: 100px; */
    display: flex;
    margin-top: 20px;
}


.ProjectGrayBox{
    border: 1px solid lightgray;
    width: 100%;
    /* height: 650px;  */
    display: flex;
    margin-top: 20px;
    gap: 20px;
}


.ClientBtnBox{
    /* border: 1px solid lightgray; */
    width: 100%;
    height: 70px;
    /* margin-top: 10px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
 }



 .sortingBox{
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray ;
    height: 70px;
    width: 100%;
    display: flex;
    
 }
 

 .sortingFirstBox{
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
 }


 .sortingFirstBox:hover{
    cursor: pointer;
    background-color: rgb(250, 247, 247);
 }


 .sortingSecBox{
    /* border: 1px solid red; */
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
 }

 .sortingSecBox:hover{
    cursor: pointer;
    background-color: rgb(250, 247, 247);
 }

 .sortingThirBox{
    /* border: 1px solid red; */
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 10px;
 }

 .sortingThirBox:hover{
    cursor: pointer;
    background-color: rgb(250, 247, 247);
 }

 .sortingForthBox{
    /* border: 1px solid red; */
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
 }

 .sortingForthBox:hover{
    cursor: pointer;
    background-color: rgb(250, 247, 247);
 }
 .sortingFirftBox{
    /* border: 1px solid red; */
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    padding-left: 15px;
 }


 .mapBox{
    border: 1px solid lightgray;
    height: 50px;
    border-top: none;
    display: flex; 
 }


 .mapBox:hover{
    cursor: pointer;
    background-color: rgb(250, 247, 247);
 }


 .menuBox{
    /* border: 1px solid red; */
    margin: auto;
 }

 .image{
    border-radius: 50%;
    height: 30px;
}
