.TeamMain{
    /* border: 1px solid black; */
    margin-top: 20px;
}


.BillNotCheck{
    border: 1px solid lightgray;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}